<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.noteshareapp.noteshare"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- <uses-permission android:name="com.tilak.noteshare.permission.permission.RECEIVE" /> -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.tilak.noteshare.permission.C2D_MESSAGE" />

    <permission
        android:name="com.noteshareapp.noteshare.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <meta-data
            android:name="DATABASE"
            android:value="noteshare.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.tilak.db" />

        <activity
            android:name="com.noteshareapp.noteshare.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.noteshareapp.noteshare.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.noteshareapp.noteshare.DrawerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.noteshareapp.noteshare.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.noteshareapp.noteshare.RegistrationActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.noteshareapp.noteshare.UserProfileActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.noteshareapp.noteshare.NoteMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.noteshareapp.noteshare.CheckListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.noteshareapp.noteshare.SettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.noteshareapp.noteshare.InviteFriendsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.noteshareapp.noteshare.SendFeedbackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.noteshareapp.noteshare.RateUsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.noteshareapp.noteshare.NotificationCenterActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.noteshareapp.noteshare.TermsAndConditionsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.noteshareapp.noteshare.AboutNoteShareActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.noteshareapp.noteshare.FolderActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.noteshareapp.noteshare.ImageChooserActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.noteshareapp.noteshare.DrawingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.noteshareapp.noteshare.NewFolderMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.noteshareapp.noteshare.InteroductionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.noteshareapp.noteshare.PasscodeActivity"
            android:label="@string/title_activity_passcode"
            android:screenOrientation="portrait" >
        </activity>
        <!-- <activity android:name="com.soundcloud.android.crop.CropImageActivity" /> -->
        <activity
            android:name="com.noteshareapp.noteshare.CameraActivity"
            android:label="@string/title_activity_camera"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="com.noteshareapp.noteshare.GcmBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.tilak.noteshare" />
            </intent-filter>
        </receiver>

        <service android:name="com.noteshareapp.noteshare.GcmIntentService" />

    </application>

</manifest>
