<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tilak.noteshare"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <meta-data
            android:name="DATABASE"
            android:value="noteshare.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.tilak.db" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DrawerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NoteMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CheckListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InviteFriendsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SendFeedbackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LikeUsOnFacebookActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RateUsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NotificationCenterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TermsAndConditionsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AboutNoteShareActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FolderActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ProfileSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ImageChooserActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".AudioChooserActivity" >
        </activity>
        <activity
            android:name=".DrawingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TextChooserActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NewFolderMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InteroductionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NoteItemFullScreen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NoteTextIItemFullScreen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PasscodeActivity"
            android:label="@string/title_activity_passcode" >
        </activity>
        <activity
            android:name=".CameraImage"
            android:label="CameraImage"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
